{% extends "layout.njk" %}{% block content %}<h1>Hello, {{ user.displayName }}</h1><p class="lead">Restaurant checks, without the paperwork fog.</p><div class="actions"><a class="button" href="/forms">Open forms</a></div>{% endblock %}
